{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<br>
<br>
<br>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            </div>
        <div class="col-md-4">
<h2>User Registration Form</h2>
            <hr/>
  <form method="post" class="form col-md-12 center-block">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
        </div>
    </div>
    </div>
{% endblock %}
