{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block afeeds %}active{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css"%}'>
    <link href="{% static 'css/poststyle.css' %}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href='{% static "../../../maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"%}'>
    <link rel="stylesheet" href='{% static "css/stylesheet.css"%}'>
    <link href="{% static 'css/poststyle.css' %} }" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/bodypad.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/profilestyle.css' %}" rel="stylesheet" />

{% endblock %}
{% block body %}
<!-- profile view -->
<!-- end profile view -->
    <br>
    <br>
    <br>
    <div class="container">
    <div class="row">

     <div class="col-sm-3">
        <ul class="list-group">
                <li class="list-group-item " contenteditable="false">Profile</li>
                <li class="list-group-item ">{{current_user.username}}</li>
                <li class="list-group-item ">{{current_user.profile.gender}} </li>
                <li class="list-group-item ">{{current_user.profile.birth_date}}</li>
                <li class="list-group-item ">{{current_user.email}}</li>
            </ul>
     </div>

     <div class="col-sm-6">
    {% for happening in happenings %}
    <div class="container">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">
               <section class="post-heading">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="media">
                              <div class="media-left">
                                <a href="#">
                                  <img class="media-object photo-profile" src="{{ happening.author.get_logo_url }}" width="40" height="40" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <a href="#" class="anchor-username"><h4 class="media-heading">{{ happening.author.name }}</h4></a>
                                <a href="#" class="anchor-time">{{ happening.creation_date|timesince }}</a>
                              </div>
                            </div>
                        </div>
                         <div class="col-md-1">
                             <div class="dropdown">
                             <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                             <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="{% url 'edit_happening' pk=happening.id %}">
                                    <span class="glyphicon glyphicon glyphicon-edit"></span> Edit Post</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'delete_happening' pk=happening.id %}">
                                    <span class="glyphicon glyphicon glyphicon-trash"></span> Delete Post</a></li>
                              </ul>
                             </div>
                         </div>
                    </div>
               </section>
               <section class="post-body">
                   <p>{{ happening.content }}</p>
               </section>
              <section class="post-footer">
                   <hr>
                   <div class="post-footer-option container">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'like_happening' pk=happening.id %}"><i class="glyphicon glyphicon-thumbs-up"></i>
                              {% if request.user in happening.likes.all %}Unlike{% else %}like{% endif %} &#40 {{ happening.likes.count }} &#41</a></li>
                            <li><a href="#collapseComment{{ happening.id }}" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseComment{{ happening.id }}"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                        </ul>
                   </div>
                  <div class="post-footer-comment-wrapper">
                       <div class="comment-form">
                        <div class="collapse" id="collapseComment{{ happening.id }}">
                            <div class="well">
                                <form class="form" action="" method="post">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>

                                    </div>
                                    <button type="submit" class="btn btn-success btn-block">Post</button>
                                </form>
                            </div>
                        </div>
                       </div>

                            <div class="comment">
                            {% for comment in comments %}
                            {% if comment.comment_on == happening %}
                            <div class="media">
                                  <div class="media-left">
                                    <a href="#">
                                      <img class="media-object photo-profile" src="{{ comment.author.profile.photo.url }}" width="32" height="32" alt="...">
                                    </a>
                                  </div>
                                  <div class="media-body">
                                    <a href="#" class="anchor-username"><h4 class="media-heading">{{ comment.author.username }}</h4></a>
                                    <a href="#" class="anchor-time">{{ comment.time_stamp|timesince }}</a>
                                  </div>
                                    <p>{{ comment.content }}</p>
                            </div>
                            {% endif %}
                            {% endfor %}
                      </div>


                  </div>

              </section>
            </div>
        </div>
	</div>
    </div>
{% endfor %}


    </div>
    </div>
    </div>

{% endblock %}

 {% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}