{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block afeeds %}active{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css"%}'>
    <link href="{% static 'css/poststyle.css' %} }" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href='{% static "../../../maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"%}'>
    <link rel="stylesheet" href='{% static "style/stylesheet.css"%}'>

{% endblock %}
{% block body %}
<!-- profile view -->
<div id="content-block">
		<div class="container be-detail-container">
			<div class="row">
				<div class="col-xs-12 col-md-4 left-feild">
					<div class="be-user-block style-3">
						<div class="be-user-detail">
							<a feed-id="{{ feed.pk }}" csrf="{{ csrf_token }}" class="be-ava-user style-2 feed-container" href="#">
								<img src="{{ user.profile.photo.url }}" class="user" alt="abc">
							</a>
							<h1 class="be-use-name">{{user.first_name}} {{user.last_name}}</h1>
							<div class="be-user-info">
								{{user.profile.birth_date}}
							</div>

							<a class="be-user-site" href="http://www.phoenix.cool/"><i class="fa fa-link"></i> www.phoenix.cool</a>
						</div>
					</div>
					<div class="be-desc-block">
						<div class="be-desc-author">
							<div class="be-desc-label">About Me</div>
							<div class="clearfix"></div>
							<div class="be-desc-text">
                                {{current_user.profile.bio}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-8">
                    <div class="tab-wrapper style-1">

                        <div class="tabs-content clearfix">
                            <div class="tab-info active">
								<div class="row">
<!-- end profile view -->
    <div class="container">
    <div class="row">
    <ul>
    {% for happening in happenings %}
    <div class="container">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">
               <section class="post-heading">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="media">
                              <div class="media-left">
                                <a href="#">
                                  <img class="media-object photo-profile" src="{{ ngo.logo.url }}" width="40" height="40" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <a href="#" class="anchor-username"><h4 class="media-heading">{{ ngo.name }}</h4></a>
                                <a href="#" class="anchor-time">{{ happening.creation_date }}</a>
                              </div>
                            </div>
                        </div>
                         <div class="col-md-1">
                             <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                         </div>
                    </div>
               </section>
               <section class="post-body">
                   <p>{{ happening.content }}</p>
               </section>
              <section class="post-footer">
                   <hr>
                   <div class="post-footer-option ">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a>
                        </ul>
                            <div id="flip"><i class="glyphicon glyphicon-comment"></i> Comment</div>
                            <div id="panel">hello
                            </div>


                  <!--<div class="post-footer-comment-wrapper">
                       <div class="comment-form">

                       </div>
                        {% for comment in comments %}
                        {% if comment.comment_on == happening %}
                            <div class="comment">
                            <div class="media">
                              <div class="media-left">
                                <a href="#">
                                  <img class="media-object photo-profile" src="{{ comment.author.user.profile.photo.url }}" width="32" height="32" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <a href="#" class="anchor-username"><h4 class="media-heading">{{ comment.author.username }}</h4></a>
                                <a href="#" class="anchor-time">{{ comment.time_stamp }}</a>
                              </div>
                                <p>{{ comment.content }}</p>
                            </div>
                       </div>
                            {% endif %}
                            {% endfor %}
                    </div> -->
                       </div>
               </section>
            </div>
        </div>
	</div>
    </div>

{% endfor %}

    </ul>
    </div>
    </div>
    </div>
                                </div></div></div></div></div></div></div>
{% endblock %}

 {% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}