{% extends 'accounts/base.html' %}
{% load static %}
{% block ablog %}active{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css"%}'>
    <link href="{% static 'css/poststyle.css' %} }" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href='{% static "style/stylesheet.css"%}'>
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<!-- Blog Entries Column -->
<div class="container">
    <div class="row">
            <div class="col-md-8">

                <h1 class="page-header">
                    Blogs
                </h1>

                <!-- Blog Post -->
                {% for article in articles %}
                <h2>
                    <a href="{% url 'article_detail' pk=article.id%}">{{ article.title }}</a>
                </h2>
                <p class="lead">
                    by <a href="{% url 'profile_detail' pk=article.author.id %}">{{ article.author.username }}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> {{ article.timestamp }}</p>
                <hr>
                <img class="img-responsive" src="{% if article.pic_med %}{{ article.pic_med.url }}
                {% else %}http://placehold.it/900x300{% endif %}" alt="">
                <hr>
                <p>{{ article.content|truncatewords:"30"}}</p>
                <a class="btn btn-primary" href="{% url 'article_detail' pk=article.id%}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr>
                {% endfor %}
                <!-- Pager -->
                <div class="pagination">
                    <span class="step-links">
                        {% if articles.has_previous %}
                            <a href="?page={{ articles.previous_page_number }}">previous</a>
                        {% endif %}

                    <span class="current">
                        Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
                     </span>

                    {% if articles.has_next %}
                        <a href="?page={{ articles.next_page_number }}">next</a>
                    {% endif %}
                    </span>
                </div>


                <hr>
            </div>
     </div>
</div>
{% endblock %}